<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleIndex.css">

    <title>Document</title>
</head>

<body>

    <h1>Show Page</h1>
    <a href="/store">Back to Main Store Page</a> <br />
    <a href="/store/balls/new">Add a New Ball</a>
    <div class="container">
        <% balls.forEach(ball=> { %>
            <div class="card">
                <h3>
                    <%= ball.name %>
                </h3>
                <a href="/store/balls/<%=ball._id%>"><img src="<%=ball.img%>" id="image"></a>
            </div>
            <% }) %>
    </div>
</body>

</html>