<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleIndex.css">

    <title>Document</title>
</head>

<body>
    <h1>GOLF CLUBS</h1>
    <button onclick="location.href='/store'" type="button">Back to Store Page</button><br />
    <button onclick="location.href='/store/clubs/new'">Add a New Club</button>
    <div class="container">
        <% clubs.forEach(club=> { %>
            <div class="card">
                <h3>
                    <%= club.name %>
                </h3>
                <a href="/store/clubs/<%=club._id%>"><img src="<%=club.img%>" id="image"></a>
            </div>
            <% }) %>
    </div>
</body>

</html>