a {
    display: inline-block;
}

a img {
    height: 300px;
    width: 700px;
}

.name {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

h2 {
    text-align: center;
    font-size: 30px;
}

